@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** Text Selection */

::-moz-selection { @apply bg-yellow-100; }
::selection { @apply bg-yellow-100; }

/** Torchlight Code */

pre code::-moz-selection { @apply bg-blue-600; }
pre code::selection { @apply bg-blue-600; }

*:not(pre) > code {
    @apply bg-gray-300 bg-opacity-40 shadow-sm rounded px-1 mx-1 py-0.5 -my-0.5;
}

*:not(pre) > code::before,
*:not(pre) > code::after {
    content: '' !important;
}

.embed-responsive {
    @apply w-full;
}

.embed-responsive iframe {
    @apply object-contain w-full;
    aspect-ratio: 16 / 9;
}

.post-card:hover {
    transform: rotate(1deg) translateY(-.2em);
}
